/*.dropdown-menu[data-bs-popper] {*/
/*    left: -150;*/
/*}*/

#mybBagCount{
    background-color: #e3b04b;
    border-radius: 75%;
    padding: 5px;
    margin-top: 0px;
    margin-left: -15px;
    color: white;
    font-weight: bold;

}