/*.dropdown-menu[data-bs-popper] {*/
/*    left: -150;*/
/*}*/

/*#mybBagCount{*/
/*    background-color: #e3b04b;*/
/*    border-radius: 75%;*/
/*    padding: 5px;*/
/*    margin-top: 0px;*/
/*    margin-left: -15px;*/
/*    color: white;*/
/*    font-weight: bold;*/

/*}*/

.btn {
    cursor: pointer;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 15px;
    /*padding: 10px 20px;*/
    width: auto;

}
.btn:hover, .btn:active, .btn:focus {
    outline: none; }
.btn.btn-primary {
    background: #e3b04b !important;
    border: 1px solid #e3b04b !important;
    color: #fff !important; }
.btn.btn-primary:hover {
    border: 1px solid #e3b04b;
    background: transparent;
    color: #e3b04b; }
.btn.btn-primary.btn-outline-primary {
    border: 1px solid #e3b04b;
    background: transparent;
    color: #e3b04b; }
.btn.btn-primary.btn-outline-primary:hover {
    border: 1px solid transparent;
    background: #e3b04b;
    color: #fff; }